version: "3.8"

services:
  server:
    build: ./server
    container_name: khata-server
    expose:
      - "4000"
    networks:
      - app-network
    restart: unless-stopped

  client:
    build: ./client
    container_name: khata-client
    expose:
      - "3000"
    networks:
      - app-network
    restart: unless-stopped

  nginx:
    image: nginx:latest
    container_name: khata-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - client
      - server
    networks:
      - app-network
    restart: unless-stopped

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: >
      /bin/sh -c "trap exit TERM; while :;
      do certbot renew --quiet;
      sleep 12h & wait $${!}; done;"
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
